#mainArea{
  /*margin: 50px 0;*/
}

#main-menu{
  position: relative;
  background : #2980b9; 
  height : 50px;
  z-index : 10;
}

.navbar{
  height: 60px;
  padding: 0 75px;
  background: #3498db;
  box-shadow: 0 0 5px rgba(0,0,0,0.26);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12),0 1px 4px 0 rgba(0,0,0,0.08);
  /*position: fixed;*/
  width: calc(100% - 150px);
  right: 0;
  z-index: 1030;
  top: 0;
}
.navbar .logo-nav{
  border-bottom: 2px #3498db solid;
  background: #fff;
  width: 100px;
  height: 100px;
  z-index: 10009;
  float: left;
}
.navbar .logo-nav img{
  margin: 15px auto;
  display: block;
}

/*menu*/
.navbar .menu{
  float: left;
  width: 100%  
}
.navbar .menu a{
  color: #fff;
}
.navbar .menu ul.menu-bar{
  margin: 0 0 0 50px; 
}
.navbar .menu ul.menu-bar li{
  float: left;
  margin-left: 1px;
  /*position: relative;*/
}
.navbar .menu ul.menu-bar li a{
  display: block;
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  /*position: relative;*/
  color: #ecf0f1;
}
.navbar .menu ul.menu-bar li a:hover{
  background: #2980b9;
  color: #ecf0f1;
}
.navbar .menu ul.menu-bar li a.active{
  height: 55px;
  background: #2980b9;
  border-bottom: 5px #ecf0f1 solid;
  color: #ecf0f1;
}
/*sub menu*/
.navbar .menu ul.menu-bar li.sub-menu .sub-menu-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 60px; 
  padding: 10px;
  background: #2980b9;
  display: none;
}
.navbar .menu ul.menu-bar li.sub-menu .sub-menu-bar p.sub-menu-header{
  /*width: 100%;*/
  margin: 20px auto;
  display: block;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  /*text-decoration: underline;*/
  text-align: center;
}
.navbar .menu ul.menu-bar li.sub-menu .sub-menu-bar ul{
  width: 800px;
  margin: 0 auto;
}
.navbar .menu ul.menu-bar li.sub-menu .sub-menu-bar ul li{
  width: 200px;
  border-left: 1px #fff solid;
  margin: 10px;
  float: left;
  transition: 0s border-bottom;
}
.navbar .menu ul.menu-bar li.sub-menu .sub-menu-bar ul li a{
  padding: 5px;
  line-height: 16px;
  height: 16px;
}
.navbar .menu ul.menu-bar li.sub-menu .sub-menu-bar ul li:hover{
  border-bottom: 2px #fff solid;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.navbar .menu ul.menu-bar li.sub-menu:hover > .sub-menu-bar{
  display: block;
}


/*############################################################
                    SPORT CONTENT
############################################################*/
.content-sport .sport-image{
  width: 100%;
  height: 450px;
  background: url('../images/tinju.jpg');
  background-size: cover;
}
.content-sport .sport-content{
  margin: 20px 0;
  padding: 0 75px;
}
.content-sport .sport-content .header-content{
  width: 100%;
  border-left: 5px #3498db solid;
  padding: 15px 0;
  margin: 0 0 50px 0;
}
.content-sport .sport-content .header-content h1{
  font-size: 36px;
  padding: 5px 15px;
}
.content-sport .sport-content .sport-text{
  width: 65%;
  min-height: 500px;
  float: left;
}
.content-sport .sport-content .sport-text h1{
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 20px;
}
.content-sport .sport-content .sport-text p{
      font-size: 12.0pt;
    line-height: 115%;
  margin-bottom: 20px;
}
.content-sport .sport-content .sport-list{
  width: 30%;
  float: right;
  border-left: 5px #3498db solid;
  padding: 10px;
  background: #ecf0f1;
}
.content-sport .sport-content .sport-list h2{
  font-size: 20px;
  margin-bottom: 15px;
}
.content-sport .sport-content .sport-list ol{
  list-style-type: decimal;
}
.content-sport .sport-content .sport-list ol li{
  margin-bottom: 5px;
  margin-left: 20px;
}
.content-sport .sport-content .sport-list ol li a{
  text-decoration: none;
}



/*############################################################
                      ATLET CONTENT
############################################################*/
.content-atlet{
  margin-top: 175px;
}

.content-atlet .atlet-content{
  margin: 20px 0;
  padding: 0 75px;
}
.content-atlet .atlet-content .header-content{
  width: 100%;
  border-left: 5px #3498db solid;
  padding: 15px 0;
  margin: 0 0 50px 0;
}
.content-atlet .atlet-content .header-content h1{
  font-size: 36px;
  padding: 5px 15px;
}
.content-atlet .atlet-content .atlet-text{
  width: 65%;
  float: left;
}
.content-atlet .atlet-content .atlet-text table{
  width: 100%;
  text-align: center;  
}
.content-atlet .atlet-content .atlet-text table thead{
  background: #3498db;
  color: #fff;
}
.content-atlet .atlet-content .atlet-text table thead th{
  padding: 15px;
}
.content-atlet .atlet-content .atlet-text table  td{
  padding: 10px;
}
.content-atlet .atlet-content .atlet-text table tbody tr{
  border-bottom: 1px #bdc3c7 solid;
}
.content-atlet .atlet-content .atlet-text table tbody tr:nth-child(even){
  background: #ecf0f1;
}
.content-atlet .atlet-content .atlet-text table tbody tr:nth-child(odd){
  /*background: #95a5a6;*/
}
.content-atlet .atlet-content .atlet-text h1{
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 20px;
}
.content-atlet .atlet-content .atlet-text p{
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 20px;
}
.content-atlet .atlet-content .atlet-list{
  width: 30%;
  float: right;
  border-left: 5px #3498db solid;
  padding: 10px;
  background: #ecf0f1;
}
.content-atlet .atlet-content .atlet-list h2{
  font-size: 20px;
  margin-bottom: 15px;
}
.content-atlet .atlet-content .atlet-list ol{
  list-style-type: decimal;
}
.content-atlet .atlet-content .atlet-list ol li{
  margin-bottom: 5px;
  margin-left: 20px;
}
.content-atlet .atlet-content .atlet-list ol li a{
  text-decoration: none;
}


/*############################################################
                      PROFILE CONTENT
############################################################*/

@font-face{
  font-family:'open sans light';
  src:url('../fonts/OpenSans-Light.ttf');
  format('truetype');
}
@font-face{
  font-family:'open sans';
  src:url('../fonts/OpenSans-Regular.ttf');
  format('truetype');
}

#profile-background {
  width : calc(100% + 40px);
  margin-left : -20px;
  position : relative;
  margin-top : -55px;
  height : 550px;
  background-position : center;
  background-size : cover;
}

#profile-background #profile-info{
  width : 100%;
  left : 0px;
  position : absolute;
  bottom : 60px;
}

#profile-background #profile-info #title-name{
  width : 80%;
  padding : 10px 0px;
  margin-left : 60px;
  color : #fff;
  text-shadow : 2px 2px 4px rgba(0,0,0,0.32);
  font-family : open sans;
  font-size : 65px;
  padding-bottom : 20px;
}

#profile-background #profile-info #desc{
  margin-top : -10px;
  padding-bottom : 20px;
  position : relative;
  margin-left : 65px;
  text-shadow : 2px 2px 4px rgba(0,0,0,0.2);
  font-family : open sans;
  font-size : 25px;
  color : #47a3da;
}

#profile-background #profile-info #desc #number{
  float : left;
  padding : 0px 0;
  padding-right : 20px;
  border-right : 1px solid #fff;
  color: #fff;
}

#profile-background #profile-info #desc #status{
  padding-left : 20px;
  color: #fff;
}

#profile-description{
  width : calc(100% - 40px);
  position : relative;
  margin-top : -60px;
  padding : 30px 20px;
  background : rgba(255,255,255,1); 
  box-shadow : 0 0 10px rgba(0,0,0,0.18);
}

#profile-description #box-frame {
  display: table;
  width : 100%;
}

#profile-description #box{
  padding : 8px 20px;
  margin-bottom : 0px;
  position : relative;
  min-width : 00px;
  border-right : 1px solid #eee;
  color : #333;
  line-height : 140%;
  display: table-cell;
}

#profile-description #box:last-child{
  border-right : 0px solid #fff;
}

#profile-description #box #title, #profile-description #box2 #title{
  font-family : brandon !important;
  letter-spacing : 1px;
  font-size : 16px;
  margin-bottom : 10px;
  font-weight: bold;
  text-transform : uppercase;
}

#profile-description #box #text, #profile-description #box2 #title{
  font-family : open sans;
  font-size : 16px;
}

#profile-description #box2{
  padding : 0px 20px;
  margin-bottom : 0px;
  position : relative;
  min-width : 00px;
  color : #333;
  width : 46%;
  float : left;
  line-height : 140%;
}


.contentArea .name{
  font-size: 32px; 
  color: #505050;
  margin-bottom: 22px;
  font-weight: bold;
  text-align: center;
}
.profileArea{
  width: 100%;
  float: left;
  margin-top: 15px;
}
.profileArea h2{
  font-size: 18px;
  margin-bottom: 5px;
  /*font-weight: bold;*/
}
.profileArea h3{
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
}
.profileArea p.number{
  font-style: italic;
  color: #3498db;
  font-weight: bold;
  font-size: 12px;
  margin: 10px;
}  
.profileArea p.profesi{
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  color: #434649;
}
.profileArea p.profesi span{
  color: #333;
  text-transform: uppercase;
}
.profileArea table{
  width: 100%;
  /*margin-top: 20px;*/
}
.profileArea th{
  color: #999;
  width: 15%;
  text-align: left;
  padding: 5px;
  white-space: nowrap;
}
.profileArea td{
  padding: 5px;
  text-transform: capitalize;
  white-space: nowrap;
}
.profileArea .profil-img{
  width: 200px;
  float: left;
  background: #F4F4F4;
  padding: 20px;
}
.profileArea .profil-img img{

}
.profileArea .profil-desc{
  padding: 20px;
  width: calc(100% - 300px);
  float: left;
  margin: 0 10px;
}


.profileArea .profil-detail{
  width: calc(100% - 40px);
  float: left;
  background: #fff;
  margin: 5px 20px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
     -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
          box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
}
.profileArea .profil-detail li{
  padding: 25px;
  border-bottom: 1px #95BADD solid;
}
.profileArea .profil-detail p{
  padding: 0;
}
.profileArea .profil-detail h2{
  padding: 20px;
}
.profileArea .profil-detail h3.title{
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #000;
}

.profil-related{
  width: calc(30% - 80px);
  float: left;
  background: #fff;
  margin: 20px;
  padding: 20px;  
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
     -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
          box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
}






#search-button{
  position : absolute;
  right : 100px;
  top : 35px;
  cursor: pointer;
}

#search-button #button{
  border : none;
  width : 100%;
  height : 100%;
  left : 0%;
  border-radius : 50%;
    z-index : 2;
  position : absolute;
  background : rgba(0,0,0,0);
  cursor: pointer;
}

#search-button #icon-big{
    width : 61px;
    height : 61px;
    line-height : 70px;
    border-radius : 50%;
    text-align : center;
    vertical-align : middle;
    font-size : 26px;
    background : #fff;
    position : absolute;
    color : #2980b9;
    box-shadow : 0 0 15px rgba(0,0,0,0.2);
    top : 120px;
    right : -13px;
    z-index : 3;
    animation : iconbig 10s ease-in-out infinite;
    cursor: pointer;
}
#search-button #icon-big i{
    line-height: 60px;
}

#search-button div#border{
    width : 59px;
    height : 59px;
    border : 20px solid #2980b9;
    border-radius : 50%;
    position : absolute;
    z-index : 2;
    top : 100px;
    right : -32px;
  animation : iconsmall 10s ease-in-out infinite;
}

.search-bar-bg{
  position: fixed;
  background: #000;
  width: calc(100%);
  height: calc(100vh);
  display: block;
  z-index: 4;
  opacity: 0.8;
  top: 0;
  left: 0;
  /*display: none;*/
}
.search-bar{
  position: fixed;
  top: 25%;
  left: 25%;
  padding: 25px;
  background: #ecf0f1;
  width: calc(50% - 50px);
  height: calc(50% - 50px);
  display: block;
  z-index: 5;
  box-shadow: 0 0 5px rgba(0,0,0,0.26);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12),0 1px 4px 0 rgba(0,0,0,0.08);
  opacity: 1;
  /*display: none;*/
}
.download-bar{
  position: fixed;
  top: 25%;
  left: 25%;
  padding: 25px;
  background: #ecf0f1;
  width: calc(50% - 50px);
  display: block;
  z-index: 5;
  box-shadow: 0 0 5px rgba(0,0,0,0.26);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12),0 1px 4px 0 rgba(0,0,0,0.08);
  opacity: 1;
  color: #2c3e50;
  /*display: none;*/
}

.download-bar ul{
  margin-left: 30px;
}
.download-bar ul li{
  margin: 5px;
}
.download-bar a.link{
  width: 100%;
  display: block;
  text-align: center;
  margin: 10px 0;

}
.closeX{
  position: absolute;
  right: 5px;
  top: 5px;
}
.closeX i{
  color: #c0392b;
  font-size: 24px;
}

.search-button{
  background: #3498db;
  border-bottom: 3px #2980b9 solid;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.search-bar .row-input{
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 2px #fff solid;
}
.search-bar .row-input label{
  width: 30%;
  float: left;
}

.search-bar .row-input .input{
  width: 70%;
  float: left;
}




/* SEARCH */
.contentArea {
  width: calc(100% - 80px);
  margin: 20px;
  padding: 20px;
  float: left;
  background: #fff;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
     -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
          box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
}
.contentArea table{
  /*width: calc(100% - 40px);*/
  /*text-align: center;  */
}
.contentArea table thead{
  background: #3498db;
  color: #fff;
}
.contentArea table thead th{
  padding: 15px;
  color: #fff;
}
.contentArea table thead td{
  padding: 10px;
  color: #fff;
}
.contentArea table thead td a{
  color: #fff;
}
.contentArea table  td{
  padding: 10px;
}
.contentArea table tbody tr{
  border-bottom: 1px #bdc3c7 solid;
}
.contentArea table tbody tr:nth-child(even){
  background: #ecf0f1;
}
.contentArea table tbody tr:nth-child(odd){
  /*background: #95a5a6;*/
}
.contentArea .header-content{
  width: 100%;
  border-left: 5px #3498db solid;
  margin: 0 0 50px 0;
}
.contentArea .header-content h1{
  font-size: 36px;
  padding: 5px 15px;
  text-transform: capitalize;
}
.contentArea .header-content h1 span{
  font-weight: bold;
}
.contentArea h1{
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 20px;
}
.contentArea p{
  font-size: 18px;
  line-height: 2em;
  margin-bottom: 20px;
}


#indeks-berita-frame {
  width : calc(100% - 20px);
  padding : 20px;
  padding-bottom : 0px;
  float: left;
  position : relative;
  text-align  :center;
}

#indeks-berita-frame #box{
  width : 200px;
  position : relative;
  float : left;
  margin : 20px;
  border-radius : 8px;
  overflow : hidden;
}

#indeks-berita-frame #box #image{
  width : 100%;
  position : relative;
  overflow : hidden;
  float : left;
  height : 200px;
}

#indeks-berita-frame #box #image img{
  width : 100%;
}

#indeks-berita-frame #box #content{
  padding : 20px 0px;
  padding-top : 65px;
  background : #39597d;
  box-shadow : 0 0 10px rgba(0,0,0,0.4);
  float : left;
  width : 100%;
  position : relative;
  margin-top : -20px; 
}

#indeks-berita-frame #box #content #comment{
  position : absolute;
  top : 10px;
  right : 15px;
  color : #fff;
  text-align : left;
  font-size : 20px; 
  font-family : open sans;
}

#indeks-berita-frame #box #content #comment #background {
  background : rgba(0,0,0,0.2);
  padding : 10px 10px;
  border-radius : 5px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#indeks-berita-frame #box:nth-child(odd) #comment{
  left : 15px;
  text-align : right;
}

#indeks-berita-frame #box #content #title{
  padding : 0 20px;
  font-family : open sans;
  color : #fff;
  text-align : right;
  font-size : 17px;
}

#indeks-berita-frame #box #content #date{
  width : 80px;
  height : 80px;
  position : absolute;
  right : 20px;
  top : -40px;
  background : #206fc9;
  border : 2px solid #fff;
  border-radius : 50%;
  font-family : brandon bold;
  text-align : center;
  color : #fff;
  line-height : 70%;
}

#indeks-berita-frame #box #content #date #number{
  padding-top  : 25px;
  font-size : 35px;
  letter-spacing : 0.5px;
}

#indeks-berita-frame #box #content #date #month{
  font-size : 12px;
  letter-spacing : 2px;
  text-transform : uppercase;
}

#indeks-berita-frame #box:nth-child(even) #content #title{
  text-align : left;
}

#indeks-berita-frame #box:nth-child(even) #content #date{
  left : 20px;
}

#indeks-berita-frame #box:nth-child(even) #content{
  background : #37A887;
}



/* ------------------------------------------

              DETAIL BERITA

--------------------------------------------*/    
#news-detail{
  padding: 20px;
  width: calc(75% - 40px);
  float: left;
}
#news-detail h1{
  line-height: 1em;
}
p.date{
  /*color: #95a5a6;*/
  color: #3498db;
  font-size: 14px;
  padding: 0 10px;
  /*float: left; */
  /*max-width: 50%;*/
}
p.comment{
  color: #95a5a6;
  font-size: 14px;
  float: left; 
  max-width: 50%;
}
#news-detail img{
  width: 100%;
  margin-bottom: 20px;
}
#news-detail .description p{
  color: #525452;
  word-break: break-all;

}

#news-recommend h2{
  width: 100%;
  padding: 10px 0;
  background: #2c3e50;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
#news-recommend{
  margin: 20px 0;
  /*padding: 20px;*/
  width: calc(25% - 40px);
  height: inherit;
  display: block;
  float: right;
  background: #F4F4F4;

  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
     -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
          box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
}
#news-recommend ul{
  margin: 20px;
}
#news-recommend ul li{
  background: #fff;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
     -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
          box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
}
#news-recommend ul li h3{
  font-size: 20px;
  font-weight: bold;
  padding: 10px; 
}
#news-recommend ul li h3:hover{
  color: #d35400;
}


#news-recommend .box div{
  width: 50px;
  float: left;
}
#news-recommend div img{
  width: 50px;
  float: left;
}

#news-recommend .box h3{
  float: left;
}

#news-recommend .box p{
  width: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  float: left;
}

.status li{
  border: none !important;
  padding: 5px !important;
  text-align: center;
}



.list-name{
  margin: 20px;
  list-style-type: circle;
}


.list-name li{
  margin: 5px 0;
}

#news-ticker-box{
  margin: 0 0 20px 0;
  background: #dcdcdc;
}
#news-ticker-box h2{
  width: 210px;
  padding: 15px 20px;
  float: left;
  background: #e67e22;
  color: #ecf0f1;
  font-size: 18px;
}
#news-ticker-box #ticker{
  margin-left: 270px;
  /*padding-left: 20px;*/
  background: #dcdcdc;
  padding: 15px 0;
}

.links-list ul{
  margin-left: 15px;
}




@-webkit-keyframes iconbig {
  0% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
  69% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
  70% { opacity: 1; -webkit-transform: scale3d(1.1,1.1,1.1); }
  71% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
  100% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
}
@-webkit-keyframes iconsmall {
  0% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
  70% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
  82% { opacity: 0; -webkit-transform: scale3d(2,2,2); }
  90% { opacity: 0; -webkit-transform: scale3d(0.5,0.5,0.5); }
  92% { opacity: 1; -webkit-transform: scale3d(0.5,0.5,0.5); }
  100% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
}
