@charset "utf-8";
/* CSS Document */


html,body{
	height: 100%;
}
#wrap{
	min-width: 1280px;
	width: 100%;
	height: 100%;
	font-family: "advent pro";
}
#wrapInner{
	height: 100%;
}

/*=======================================================================
								HEADER AREA 
=========================================================================*/
#dashHeader{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background: #fbfcfc;
	z-index: 90;
    -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
}

#dashHeader ul{
	width: 100%;
}
#dashHeader ul li{
	float: left;
	height: 60px;
	display: block;
	line-height: 60px;
}
#dashHeader ul li.logo{
	width: 20%;
	text-align: center;
}

#dashHeader ul li.search{
	margin-left: 20px;
}
#dashHeader ul li.search form{
	position: relative;
}
#dashHeader ul li.search input{
	width: 200px;
	margin-top: 15px;
	padding: 5px 20px;
	border: none;
	border-radius: 20px;
	background: #EBEFF2;
	color: #333;
}
#dashHeader ul li.search input:focus{
	outline: none;
}
#dashHeader ul li.search i{
	position: absolute;
	top: 20px;
	left: 215px;
	color: #A29F9F;

}



#dashHeader ul li.profil{
	width: 50px;
	height: 50px;
	float: right;
	position: relative;
	border: 1px #eee solid;
	border-radius: 50%;
	margin: 5px 65px 0 0;
	background: #fff;
	line-height: 50px;
	cursor: pointer;
}
#dashHeader ul li.profil:hover > ul.profilInside{
	display: block;
}
#dashHeader ul li.profil:hover > .box{
	display: block;
}
#dashHeader ul li.profil:hover > .boxbg{
	display: block;
}


#dashHeader ul li.profil ul{
	display: none;
	width: 150px;
	background: #fff;
	position: absolute;
	top: 59px;
	right: 0;
	padding: 5px;
	border: 1px #ccc solid;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
#dashHeader ul li.profil .box{
	border-color: transparent; 
    border-bottom-color: #fff; 
    border-style: dashed dashed solid; 
    border-width: 0 8.5px 8.5px; 
    display: none;
    position: absolute;
    left: 17.5px;
    top: 52px; 
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s; 
    animation: gb__a .2s; 
}
#dashHeader ul li.profil .boxbg{
	border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 17.5px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    top: 51px;
}
#dashHeader ul li.profil ul li{
	display: block;
	cursor: pointer;
	float: none;
	height: 20px;
	padding: 5px 10px;
	line-height: 20px;
	border-bottom: 1px #eee solid;
}

/*=======================================================================
								MAIN AREA 
=========================================================================*/
#mainArea{
	width: 100%;
	height: 100%;
	background: #EBEFF2;
}


/*=======================================================================
								SIDE AREA 
=========================================================================*/
.sideArea{
	width: 20%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	background: #0a3d62;
	font-weight: bold;
}
.sideInner{
	padding: 60px 0 10px 0;
}

.sideInner ul{
	display: block;
	width: 100%;
	margin-top: 20px;
}
.sideInner ul li i{
	color: #fbfcfc;
	margin-right: 10px;
}
.sideInner ul li a{
	color: #fbfcfc;
	width: 100%;
	display: block;
	padding: 15px 0;
}

.sideInner ul li div{
	padding: 0 15px;
}
.sideInner ul li a:hover{
	font-weight: bold;
	color: #a2acb3;
}
.sideInner ul li a:hover > i{
	font-weight: bold;
	color: #a2acb3;
}
.sideInner ul .active{
	background: #3c6382 !important;
	border-left: 3px #82ccdd solid;
}
.sideInner ul .active a{
	font-weight: bold;
	color: #a2acb3;
}
.sideInner ul .active i{
	font-weight: bold;
	color: #a2acb3;
}

/*multi level menu*/
.sideInner .multi-level{
	
}
.sideInner .multi-level .sub-menu{
	max-width: 90%;
	margin: 0 0 0 25px;
}
.sideInner .multi-level .sub-menu li{
}




/*=======================================================================
								CONTENT AREA 
=========================================================================*/
.contentArea{
	width: 80%;
	/*min-height: 1000%;*/
	height: auto;
	float: left;
	margin-left: 20%;
	background: #EBEFF2;
}
.contentInner{
	padding: 60px 0 10px 0;
}

.contentInner h1{
	padding: 20px 20px 0 20px;
	font-size: 24px;
	color: #333;
	font-weight: bold;
	text-transform: capitalize;
}
.contentInner h3{
	padding: 10px 20px;
	font-size: 18px;
	color: #98a6ad;
	margin-bottom: 30px;
}


.contentInner .lineArea{
	/*padding: 20px;*/
	/*float: left;*/

	margin: 10px;
}

/*button*/
.lineArea .buttonA{
	/*margin: 0 10px;*/
	min-width: 150px;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	float: left;
	color: #fff;
	background: #4a69bd;
	/*-webkit-filter: grayscale(1);
   			filter: grayscale(1);*/
}
.lineArea .buttonA:hover{
	opacity: 0.8;
}

/*left AREA*/
.lineArea .leftArea{
	width: 70%;
	padding: 20px 0; 
	background: #fff;
	float: left;
	border-radius: 3px;
}

/*right AREA*/
.lineArea .rightArea{
	width: 25%;
	padding: 20px 0; 
	background: #fff;
	float: right;
	border-radius: 3px;
}

/*Menu TAB*/
.lineArea .menutab{
	margin-left: 10px;
}
/*BOX INFO*/
.lineArea .boxInfo{
	width: 25%;
	float: left;
}
.lineArea .boxInner{
	background: #fff;
	padding: 20px;
	border: 1px #E1E6E9 solid;
	border-radius: 3px;
    margin-left: 10px;
}
.lineArea .boxInner .symbol{
	width: 80px;
	height: 80px;
	border: 1px #2980b9 solid;
	border-radius: 50%;
	float: left;
	text-align: center;
	background: rgba(41,128,185, 0.2);
}
.lineArea .boxInner .symbol i{
	font-size: 32px;
	line-height: 80px;
	color: #2980b9;
}
.lineArea .boxInner .boxTxt{
	padding: 5px;
	text-align: right;
}
.lineArea .boxInner .boxTxt h3{
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #98a6ad;
}
.lineArea .boxInner .boxTxt p{
	color: #797979;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}


/*Cart view*/
.cartBox{
	background: #fff;
	border-radius: 5px;
	padding: 20px 0;
}


/*FORMAREA*/
.lineArea .formArea{
	overflow-y: hidden;
	background: #fff;
	/*min-height: 200px;*/
	margin: 0 0 0 10px;
	/*transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
}
.lineArea .formArea h3{
	margin: 0;
	background: #fafafa;
	color: #797979;
	padding: 10px 20px;
	font-weight: bold;
}
.lineArea form{
	/*padding: 10px 20px 20px 20px;*/
}
.lineArea .inputGroup{
	margin-bottom: 15px;
	width: 100%;
}
.lineArea .inputGroup label{
	width: 10%;
	text-align: right;
	float: left;
	padding: 6px 12px;
	font-weight: bold;
}
.lineArea .inputGroup .textInput{
	width: 80%;
    padding: 6px 12px;
    background: #fafafa;
    border: 1px #e0e0e0 solid;
    border-radius: 2px;
    color: #333;
    float: left;
}
.lineArea .inputGroup .textInput:focus{
	background: #fff;
	border: 1px #ddd solid;
}
.lineArea .inputGroup .buttonInput{
	padding: 10px 20px;
	border: none;
	color: #fff;
	font-weight: bold;
	min-width: 100px;
	cursor: pointer;
	background: #2980b9;
}
.lineArea .inputGroup .buttonInput:hover{
	opacity: 0.9;
}



/*TABLE INFO*/
.lineArea .tableInfo{
	padding: 20px;
	/*margin-left: 10px;*/
	border-radius: 3px;
	background: #fff;
}
.lineArea .tableInfo h2{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	/*background: #36404A;*/
	margin-bottom: 2px;
}
.lineArea .tableInfo table{
	width: 100%;
	background: #fff;
	border-radius: 3px;
	padding: 5px;
	border: none;
}
.lineArea .tableInfo table a:hover{
	text-decoration: underline;
}
.lineArea .tableInfo table thead tr {
	border: 1px #E1E6E9 solid;
}
.lineArea .tableInfo table thead tr td{
	background: #fbfcfc;
	color: #7f8c8d;
	font-weight: bold;
}
.lineArea .tableInfo table thead tr td i{
	margin: 0 5px;
}
.lineArea .tableInfo table thead tr td a{
	margin: 0 5px;
}
.lineArea .tableInfo table tr:nth-child(even){
	background: #E5EAEE;
}
.lineArea .tableInfo table tr td{
	vertical-align: middle;
	padding: 10px;
	border-bottom: 1px #E1E6E9 solid;
	/*text-align: center;*/
    letter-spacing: 1px;
    font-weight: bold;
    /*font-size: 17px;*/
}
.lineArea .tableInfo table tr td i{
	margin: 0 5px;
}



/*PROGRESS BAR*/
.progress{
	width: 90%;
	height: 5px;
	background: #E1E6E9;
	border-radius: 3px;
	margin: 5px 0;
	position: relative;
}
.progress .progress-bar{
	position: absolute;
	border-radius: 3px;
	min-width: 0.5%;
	height: 5px;
	top: 0;
	left: 0;
	background: #16a085;
}
.progress-txt{
	padding: 5px;
	font-size: 14px;
	color: #999;
}

/*status text*/
.status{
	padding: 5px;
	border-radius: 3px;
	color: #fff;
	opacity: 0.8;
}
.status-done{
	background: #27ae60;
}
.status-pending{
	background: #f1c40f;
}
.status-failed{
	background: #c0392b;
}
.status-ongoing{
	background: #2980b9;
}

/*STICK BUTTON*/
.stickBtn{    
	width: 165px;
    height: 40px;
    position: fixed;
    right: 0;
    top: 100px;
    opacity: 0.5;
    background: #d35400;
    color: #fff;
    border: none;
    cursor: pointer;
    border: 1px #eee solid;
    padding-left: 40px;
    font-weight: bold;
}
.stickBtn i{
	width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    position: absolute;
    line-height: 40px;
    background: #fff;
    font-size: 24px;
}
.stickBtn:hover{
	opacity: 1;
}


.msgSuccess{
    color: #fefefe;
    padding: 10px;
    background: #78e08f;
    font-weight: bold;
}
.msgError{
    color: #fefefe;
    padding: 10px;
    background: #c0392b;
    font-weight: bold;
}

.addColumn{
    margin: 10px;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f6b93b;
    border-radius: 50%;

}
.addColumn i{
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}
/*=======================================================================
								FOOTER AREA 
=========================================================================*/
