/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body, html{
	width : 100%; 
	padding : 0px;
	margin : 0px;
	/*font-family:myriad set pro thin, Verdana, Arial, sans-serif;*/
	box-sizing : border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
h1,h2,h3,h4,h5,h6,p,a{
	color: #2c3e50;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face{
	font-family:'advent pro';
	src:url('../fonts/AdventPro-Medium.ttf');
	format('truetype');
}
@font-face{
	font-family:'brandon bold';
	src:url('../fonts/Brandon_bld.otf');
	format('truetype');
}
@font-face{
	font-family:'brandon';
	src:url('../fonts/brandon_re.ttf');
	format('truetype');
}
@font-face{
	font-family:'belgrano';
	src:url('../fonts/Belgrano-Regular.ttf');
	format('truetype');
}
a, p, h1, h2, h3, table, ul, li {
	
	font-family:'advent pro' !important;
	/*font-family:'belgrano' !important;*/
	/*font-family:'brandon' !important;*/
}

.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

/*------------------------------------- PAGINATION -------------------------------------*/
.pagination{
	margin: 20px 0;
	text-align: center;
}
.pagination li{
	display: inline-block;
	width: 25px;
	margin: 0 3px;
}
.pagination li a{
	width: 25px;
	height: 25px;
	line-height: 25px;
}
.pagination li i{
	color: #fff;
	line-height: 25px;
}

.pagination .active{
	width: 25px;
	height: 25px;
}
